.body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.jumbotron {
  background-color: #e6f2ff;
  margin-bottom: 10px;
  margin-top: 15px;
  border-radius: 0;
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.jumbotron:hover {
}
.jumbotron li a{
  color: inherit;
  font-size: 18px;
}
.jumbotron ul {
  list-style-type:circle;
  font-size: 20px;
}
blockquote {
  margin-top: 15px;
  border-left: 2px solid lightgrey;
}
/*}
.blue blockquote {
  margin-top: 15px;
  border-left: 5px solid blue;
}*/

/*.header li {
  display: inline;
  padding-left:10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 10px;
  float: right;
  cursor: pointer;
}
.header li:hover {
  background-color: rgb(66, 140, 215);
  color:white;
}*/
.main {
  border: 1px solid gray;
}
.header .active a {
  background-color: #337ab7;

}
.col-md-8 {
  /*background-color: orange;*/
}
.bar {
  background-color: rgb(153, 204, 255);
  margin: 0px;
  border: none;
  border-radius: 0;
  margin-bottom: 0px;
}
.navbar-inverse .navbar-toggle {
  border-color: rgb(66, 140, 215);
}
.navbar-inverse .navbar-toggle:hover {
  background-color: rgb(66, 140, 215);
  border-color:  rgb(255, 255, 255);
}
.navbar-inverse .navbar-brand {
  color: rgb(0, 0, 0);
}
.navbar-inverse .navbar-brand:hover {
  background-color: rgb(66, 140, 215);
}
.navbar-inverse .navbar-nav li a  {
  color: rgb(0, 0, 0);
  font-size: 20px;

}
/*.navbar-right li a {
  color: rgb(0, 0, 0);
  font-size: 20px;

}*/

.navbar-nav li:hover {
  background-color: rgb(66, 140, 215);
}
#main_img {
  height: 100%;
  margin: auto;
  float: none;
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.band img, .resort img, .wikipedia img {
  height: 150px;
  float: left;
  margin: 10px;
  box-shadow: 2px 2px 2px;
}
.resort img {
  float:right;
}
.band {
  background-color: #f5faff;
}
.band:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.wikipedia {
  background-color: #f5fffa;
}
.wikipedia:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.edu img {
  height: 150px;
  margin: 20px;
}
.edu {
  font-size: 20px;
  border: 1px solid black;

}
